.confirmation-message {
    display: flex;
    justify-content: center;
}

.modal-image {
    height: auto;
    display: block;
    margin: auto;
    width: 20%;
}

.confirmation-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.close-button {
    transition: 1s;
    margin-right: 2%;
}

.close-button:hover {
    background-color:rgb(88, 177, 230);
    margin-right: 2%;
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }