.header-text {
    font-family: 'Bree Serif';
}

.header {
    background-image: linear-gradient(rgb(144, 149, 211), white);
    background-size: 100%;
}

#header-description {
   margin-top: 8%;
}

.header-logo {
    margin: 24%;
    transform: scale(1.2);
}

.buddy-text {
    font-family: 'Bree Serif';
    margin-top: 25%;
    color: rgb(73, 81, 163);
}

.connection-image {
    transform: translateX(-16%) scale(0.5);
}

.main-content {
    margin-left: 8%;
}