<div class="header">
    <section class="container">
        <div class="row">
            <div class="col-sm">
                <img class="header-logo" src="../../../assets/logo_small.png">
            </div>
            <div id="header-description" class="col-sm">
                <h1 class="header-text">SHOW <span class="buddy-text">BUDDY</span></h1>
                <h3>Planeares os teus eventos nunca foi tão fácil!
                    Fica a par dos melhores eventos, encontra a boleia perfeita para te acompanhar e torna a tua
                    experiência inesquecível.</h3>
            </div>

        </div>
    </section>
</div>

<div class="main-content">

    <section class="container">


        <div class="row">
            <div class="col-sm">
                <h3><span class="buddy-text">COMPANHIA</span></h3>
                <img class="connection-image" src="../../../assets/connection.png">
            </div>
            <div class="col-sm">
                <h3><span class="buddy-text">BOLEIA</span></h3>
                <img class="connection-image" src="../../../assets/ride.png">

            </div>
            <div class="col-sm">
                <h3><span class="buddy-text">EXPERIÊNCIAS!</span></h3>
                <img class="connection-image" src="../../../assets/guitar.png">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
            </div>

            <div class="col-sm">
            </div>

            <div class="col-sm">

            </div>

        </div>
    </section>

</div>

<footer></footer>