
.profile-username {
    font-family: 'Bree Serif';
    color: rgb(73, 81, 163);
}

.card-details {
    margin-top: 2vw;
    transform: translateX(2vw);
}

.card-principal {
    transform: translateX(1vw);
}