#navbar-btn {
    margin-left: 10px;
    background-color: rgb(73, 81, 163);
    border: rgb(73, 81, 163);
}

.navbar-theme {
    background-color: rgb(144, 149, 211);
}

.navbar-toggler {
    transition: 0.7s;
}

.navbar-toggler:hover {
    color: white;
    border: 1px solid white;
}

.navbar-brand {
        color: white !important;
        font-family: 'Bree Serif';
}

.drop-stuff {
    font-size: 12px;
    padding: inherit;
    text-align: center;
}