#navbar-btn {
    margin-left: 10px;
    background-color: rgb(73, 81, 163);
    border: rgb(73, 81, 163);
}

.navbar-theme {
    background-color: rgb(144, 149, 211);
}

.navbar-toggler {
    transition: 0.7s;
}

.navbar-toggler:hover {
    color: white;
    border: 1px solid white;
}

.navbar-brand {
        color: white !important;
        font-family: 'Bree Serif';
}

.drop-stuff {
    font-size: 12px;
    padding: inherit;
    text-align: center;
}

.logged-group {
    margin-right: 2%;
    text-align: right;
}

#user-ava {
    margin-right: 5%;
    height: auto;
    width: 18%;
}

#user-ava:hover {
    height: auto;
    width: 18%;
    cursor: pointer;
}

.logout-btn {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(144, 149, 211) !important;
    transition: 2s;
}

.logout-btn:hover {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(144, 149, 211) !important;
}