.suggestion-confirmation-modal {
    text-align: center;
}

.confirmation-text {
    margin-top: 2%;
}

.btn-style {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(144, 149, 211);
    border: rgb(24, 31, 102);
    font-family: 'Bree Serif';
    transition: 1s;
}

.btn-style:hover {
    background-color: rgb(24, 31, 102);
}