.suggestion-description {
    display: flex;
    justify-content: center;
    text-align: center;
    transform:translateY(25%);
}

.suggestion-wrapper {
    background-image: linear-gradient(rgb(144, 149, 211), white);
    background-size: 100%;
}

.form-group {
    display: grid;
    transform: translate(50%, 6%);
    width: 45%;
}

@media screen and (min-width: 1920px) {
    .form-group {
        display: grid;
        transform: translate(50%, 16%);
        width: 45%;
    }
  }



.suggest-btn {
    transform: translateY(25%);
    transition: 1.5s;
    border: 1px solid rgba(42, 51, 124);
}

.suggest-btn:hover {
    transform: translateY(25%);
    background-color: green;
    border: 1px solid rgba(42, 51, 124);
}