.modal-image {
    height: auto;
    display: block;
    margin: auto;
    width: 20%;
}

.login-field {
    display: flex;
    display: block;
    margin: auto;
}

.login-button-wrapper {
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    transition: 1s;
    margin-right: 2%;
}

.close-button:hover {
    background-color: red;
    margin-right: 2%;
}

.login-button {
    color: white;
    background-color: rgb(144, 149, 211);
    transition: 1s;
}

.login-button:hover {
    color: white;
    background-color: rgb(24, 31, 102);
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }