<div class="list-wrapper">

 
<mat-list>
        <div class="text-top">B I L H E T E S</div>
<mat-list-item>
    <div class="card-wrapper col-7">
        
            <mat-form-field class="dropdown-event">
                    <mat-label>Filtre por evento:</mat-label>
                    <mat-select [formControl]="eventsCtrl" [(ngModel)]='filteredE'>
                        <mat-option #filteredE *ngFor="let show of allEvents" [value]="show.name">
                            {{show.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

        <mat-card *ngFor="let request of filter(ticketSellRequest, filteredE); index as i" id="r-card"
            class="row request-card">
            <div class="col-3">
                <img [src]="getImageFromEvent(request.eventName)" class="evt-img">
                <button *ngIf="isCurrentUser(i)" type="button" id="go-btn"
                                class="btn btn-primary btn-block bottom-btn-style"
                                (click)="goToProfile()">Ver perfil</button>
            </div>
            <div class="col-4 description-text">
                <p><b>Evento:</b> {{request.eventName}}</p>
                <p><b>Vendedor:</b> {{request.requestOwner.username}}, {{calculateAge(i)}}</p>
                <p><b>Local de venda:</b> {{request.sellLocation}}</p>
            </div>
            <div class="col-4 vertical-divider">
                <div>
                    <p><b>Preço de venda: </b>{{request.price}} euros</p>
                    <p><b>Negociável:</b> {{request.negotiable}}</p>
                    <button *ngIf="isCurrentUser(i)" type="button" id="erase-btn"
                        class="btn btn-primary btn-block bottom-btn-style"
                        (click)="deleteTicketSellRequest(i)">Eliminar</button>
                    <button *ngIf="!isCurrentUser(i) && loggedUser" type="button" id="invite-btn"
                        class="btn btn-primary btn-block bottom-btn-style" (click)="openConfirmationModal(request.requestOwner.username)">Comprar</button>
                </div>
            </div>
        </mat-card>
    </div>
</mat-list-item>
</mat-list>

<div class="request-btn-wrapper"><button mat-fab color="primary" *ngIf="loggedUser" class="request-btn"
    matTooltip="Clica para colocares um bilhete à venda" (click)="openTicketSellModal()">+</button></div>
</div>