<div id="login-modal-card" class="modal-body">
    <img ngbAutofocus class="modal-image" src="../../../../assets/logo_small.png">
      <div mat-card-avatar class="login-icon"></div>

      <div class="form-group">
    <mat-form-field class="login-field">
        <mat-hint>Insira o seu nome de utilizador</mat-hint>
      <input matInput placeholder="Username" [(ngModel)]='username'>
    </mat-form-field>
    <mat-form-field class="login-field" value="">
        <mat-hint>Insira a sua palavra-passe</mat-hint>
      <input matInput type="password" placeholder="Password" [(ngModel)]='password'>
    </mat-form-field>
  </div>
    <div class="login-button-wrapper">
    <button mat-raised-button type="button" class="close-button" (click)="closeModal()">Fechar</button>
    <button mat-raised-button type="button" class="login-button" (click)="login(username, password)">Login</button>
    </div>
  </div>
    