<div class="wrapper">
        <div class="container">
                <div class="row card-deck">
                        <img class="card-img-top img-fluid single-show-image" src={{show.eventImage}}>
                        <div class="card-body">
                            <h4 class="card-title"><b>{{show.name}}</b> ({{show.eventType}})</h4>
                            <h5 class = "card-text">Localização: {{show.location}}</h5>
                            <h6 class = "card-text">Data: {{show.startDate.getDate()}}/{{show.startDate.getMonth()}}/{{show.startDate.getFullYear()}}</h6>
                        </div>
                </div>
            </div>
        </div>